<div class="container">
  <mat-card class="mat-card">
    <mat-card-title>{{product.title}}</mat-card-title>
    <img class="image" mat-card-image src="../../../{{product.image}}" />
    <mat-card-content>
      <p>Цена: {{product.price}} ₽</p>
      <p>Чип: {{product.configure.chip}}</p>
      <p>Жёсткий диск: {{product.configure.SSD}}</p>
      <p>ОЗУ: {{product.configure.memory}}</p>
      <p>Тип дисплея: {{product.configure.display}}</p>
      <p>Год: {{product.configure.year}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">В корзину</button>
    </mat-card-actions>
  </mat-card>
</div>

